@model ChatApp.DAL.Entities.Chat
@{
    ViewData["Title"] = "Home Page";
}
<script src="js/modal.js"></script>
<h2 style="text-align: center">@Model.Name</h2>
<div class="chat-body">
    @foreach (var msg in Model.Messages)
    {
        <div class="message" oncontextmenu="openContextMenu(this)">

            <header>@msg.UserName</header>
            <p>
                @msg.Text
            </p>
            <footer>@msg.SentTime</footer>
            <div class="context-menu d-none">
                <div>
                    <a asp-action="Edit" asp-controller="Chat" asp-route-Id="@msg.Id" asp-route-chatId="@Model.Id">Edit</a>
                </div>
                <div>
                    <a asp-controller="Chat" asp-action="DeleteMessageFromAll" asp-route-Id="@msg.Id" asp-route-chatId="@Model.Id">Delete from all</a>
                </div>
                <div>
                    <a asp-action="ReplyToGroup" asp-controller="Chat" asp-route-messageId="@msg.Id"
                       asp-route-chatId="@Model.Id" asp-route-roomName="@Model.Name">Reply to group</a>
                </div>
            </div>
        </div>
        
    }

</div>

<form class="chat-input" method="post">
    <input type="hidden" name="chatId" id="chatId" value="@Model.Id" />
    <input type="hidden" name="roomName" id="roomName" value="@Model.Name" />
    <input type="text" name="message" id="message-input" />
    <button type="submit">Send</button>

</form>

@section scripts
{
    <script src="js/site.js"></script>
    <script src="signalr/signalr.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>

        var connection = new signalR.HubConnectionBuilder()
            .withUrl("/chatHub")
            .build();
        var _connectionId = '';
        connection.on("ReceiveMessage",
            function(data) {

                const message = document.createElement("div");
                message.classList.add('message');

                const header = document.createElement("header");
                header.appendChild(document.createTextNode(data.userName));

                const p = document.createElement("p");
                p.appendChild(document.createTextNode(data.text));

                const footer = document.createElement("footer");
                footer.appendChild(document.createTextNode(data.sentTime));

                message.appendChild(header);
                message.appendChild(p);
                message.appendChild(footer);

                document.querySelector('.chat-body').append(message);

            });

        var joinRoom = function() {
            var url = '/Chat/JoinRoom/' + _connectionId + '/@Model.Name';
            axios.post(url, null)
                .then(res => {
                    console.log("Room joined!", res);
                })
                .catch(err => {
                    console.log("Failed to join the room", err);
                });
        }

        connection.start()
            .then(function() {
                connection.invoke("getConnectionId")
                    .then(function(connectionId) {
                        _connectionId = connectionId;
                        joinRoom();
                    });
            })
            .catch(function(err) {
                console.log(err);
            });

        window.onload = function() {
            var form = document.querySelector("form");
            form.onsubmit = submitted.bind(form);
        }

        function submitted(event) {
            event.preventDefault();
            const chatId = document.querySelector("#chatId").value;
            const roomName = document.querySelector("#roomName").value;
            const messageInput = document.querySelector("#message-input").value;

            const url = `/Chat/SendMessage?chatId=${chatId}&roomName=${roomName}&message=${messageInput}`;
            
            document.getElementById('message-input').value = '';
            fetch(url,
                {
                    method: 'POST'
                })
                .then(res => {
                    console.log("Ok");
                })
                .catch(err => {
                    console.log("Error");
                });
                
        }

    </script>
}